/* Estilos globales para todos los elementos */
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

/* Estilos para el fondo del cuerpo de la página */
body {
    background: #242D34;
}

/* Estilos para el cuadro de inicio de sesión */
.login-box {
    background: #000000;
    padding: 30px 120px;
    width: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s;
}

.login-box:hover {
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.4);
}


/* Estilos para los encabezados en el cuadro de inicio de sesión */
.login-box h2 {
    margin-bottom: 20px;
    color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos para el logotipo en el cuadro de inicio de sesión */
.logo {
    width: 30px;
    margin-bottom: 20px;
}

/* Estilos para la imagen dentro del botón en el cuadro de inicio de sesión */
.login-box button img {
    width: 18px;
    margin-right: 10px;
}

/* Estilos para los botones en el cuadro de inicio de sesión */
.login-box button {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

/* Estilos para la línea horizontal en el cuadro de inicio de sesión */
.login-box hr {
    border: 0;
    height: 1px;
    background: #c2c2c2;
    margin: 5px;
}

/* Estilos para el texto debajo de la línea en el cuadro de inicio de sesión */
.login-box span {
    display: block;
    width: 40px;
    margin: auto;
    font-size: 14px;
    margin-top: -35px;
    color: white;
    background: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos para los campos de entrada en el cuadro de inicio de sesión */
.login-box input {
    width: 100%;
    background: transparent;
    border: 1px solid white;
    outline: 0;
    padding: 15px 10px;
    border-radius: 4px;
    margin: 10px 0;
    color: white;
}

/* Estilos para el marcador de placeholder en los campos de entrada */
::placeholder {
    font-weight: 500;
    color: white;
}

/* Estilos para el botón en el formulario del cuadro de inicio de sesión */
.login-box form button {
    background: white;
    color: black;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Estilos para el botón con la clase "boton" en el cuadro de inicio de sesión */
.boton {
    background: black;
    border: 1px solid white;
    color: white;
}

/* Estilos para los párrafos en el cuadro de inicio de sesión */
.login-box p {
    text-align: left;
    color: white;
    margin: 40px 0 50px;
    font-family: 'Roboto', sans-serif;
    
}

/* Estilos para los enlaces en los párrafos del cuadro de inicio de sesión */
.login-box p a {
    text-decoration: none;
    color: #359cf0;
    font-weight: bold;
}

/* Estilo para el label en estado normal (blanco) */
.custom-floating-label {
    color: white; /* Color blanco */
  }
  
  /* Estilo para el label al aplicar el floating label (celeste) */
  .custom-floating-input:focus + .custom-floating-label,
  .custom-floating-input:not(:placeholder-shown) + .custom-floating-label {
    color: #0e4d77; /* Color celeste para el label */
  }
  
  .btn{
    border: 1px solid white;
    color: white;
    background: transparent; /* Establecemos el fondo como transparente */
  }
  
  .btn:hover {
    background: #181919; /* Cambiamos el fondo en el hover a blanco */
    color: white;
  }