/* Paleta de Colores */
:root {
    --fondo: #000000;
    --twitterblue: #1a8cd8;
    --twittertextwhite: #e7e9ea;
    --twittertextgray: #71767b;
    --twitterborder: #2f3336;
    --twitterloginalt: #f8faff;
}

/* * Inicio Login */

.login {
    background-color: var(--fondo);
} /* Fondo del Login */

.login-alt {
    background-color: var(--twitterloginalt);
    color: black;
    width: 20rem;
} /* Fondo del botón de Login con Google y Login con Apple */

.login-alt i {
    margin-right: 12px;
} /* Icono de Google y Apple */

.login-alt:hover {
    cursor: pointer;
} /* Efecto de transición al pasar el mouse por encima del botón de Login con Google y Login con Apple */

.login-alt-modal {
    background-color: var(--twitterloginalt);
    color: black;
    width: 100%;
} /* Fondo del botón de Login con Google y Login con Apple */

.login-alt-modal {
    margin-right: 12px;
} /* Icono de Google y Apple */

.login-alt-modal:hover {
    cursor: pointer;
} /* Efecto de transición al pasar el mouse por encima del botón de Login con Google y Login con Apple */


.logo-google {
    width: 1.2rem;
    height: auto;
    margin-right: 0.75rem;
} /* Logo de Google */

.login-twitter {
    background-color: var(--twitterblue);
    width: 20rem;
} /* Fondo del botón de Login de Twitter */

.login-twitter:hover {
    background-color: #0f6db5;
    cursor: pointer;
    transition: 0.5s;
} /* Efecto de transición al pasar el mouse por encima del botón de Login Twitter */

.terms-use {
    width: 20rem;
}
.terms-use span {
    color: var(--twitterblue)
} /* Letras pequeñas debajo del botón para crear una cuenta */

.terms-use span:hover {
    cursor: pointer;
    text-decoration: underline;
} /* Utilizados para el efecto de link en el texto pequeño, debajo del botón para crear una cuenta */

.label-acc {
    text-align: start;
    margin-top: 4rem;
    width: 20rem;
} /* Estilo del texto de la etiqueta de la cuenta */

.iniciar-sesion {
    background-color: black;
    color: var(--twitterblue);
    border-style: solid;
    border-color: var(--twitterborder);
    border-width: 0.1rem;
    width: 20rem;
} /* Estilo del botón de Iniciar Sesión */

.iniciar-sesion:hover {
    cursor: pointer;
} /* Efecto de transición al pasar el mouse por encima del botón de Iniciar Sesión */
 
.contenido h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--twittertextwhite);
    margin-bottom: 3.5rem;
    font-weight: bolder;
} /* Estilo del título principal */

.contenido h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--twittertextwhite);
    font-style: normal;
} /* Estilo del subtítulo */

.contenido h3 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: normal; 
} /* Estilo del título de los botones de Login */

.contenido h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--twittertextwhite);
} /* Estilo de texto del divisor */

.contenido h5 {
    font-family: 'Roboto', sans-serif;
    color: var(--twittertextgray);
    text-align: start;
    font-size: 0.85rem;
} /* Estilo del texto pequeño debajo del botón para crear una cuenta */

footer h5 {
    font-family: 'Roboto', sans-serif;
    color: var(--twittertextgray);
    text-align: start;
    font-size: 0.8rem;
} /* Estilo del texto pequeño del footer */

footer h5:hover {
    cursor: pointer;
    text-decoration: underline;
} /* Utilizados para el efecto de link en el texto pequeño del footer */

.login-twitter h3 {
    color: var(--twittertextwhite);
} /* Estilo del texto del botón de Login de Twitter */

.iniciar-sesion h3 {
    color: var(--twitterblue);
} /* Estilo del texto del botón de Iniciar Sesión */

.label-inicio {
    text-align: start;
}

.label-inicio h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.label-forg {
    text-align: start; 
    font-size: 0.8rem; 
    font-family: 'Roboto', sans-serif;; 
    margin-top: -0.5rem;
}

.label-forg:hover {
    cursor: pointer;
    text-decoration: underline;
}

.custom-floating-label {
    color: var(--twittertextgray);
}

.custom-floating-input:focus + .custom-floating-label,
.custom-floating-input:not(:placeholder-shown) + .custom-floating-label {
    color: #000000;
    border: none;
}






